<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>Habitaciones</title> 
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" 
	integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" 
	crossorigin="anonymous">
	<script src="/js/jquery-3.5.0.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
		<center>
			<img alt="" src="Imagenes/logo-hotel.png" /></center>
		<form class="formulario">
			<h1>
				Habitaciones</h1>
			<div class="contenedor">
				<div class="input-contenedor">
					<h2>
						Habitacion Doble</h2>
					<img class="imgHabitaciones" src="Imagenes/habitaciondoble.jpg" /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<p>
						- 1 Cama Doble -No Reembolsable - Wi-Fi gratis</p>
				</div>
				<div class="input-contenedor">
					<h2>
						Habitacion Doble - 2 camas</h2>
					<img class="imgHabitaciones" src="Imagenes/habitaciondoble2camas.jpg" /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<p>
						- 2 camas dobles - 1 Cama individual - 4 huespedes - No Reembolsable - Wi-Fi gratis</p>
				</div>
				<div class="input-contenedor">
					<h2>
						Suit con cama Extragrande</h2>
					<img class="imgHabitaciones" src="Imagenes/suitconcamaextragrande.jpg" /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<p>
						-1 camas King size -No Reembolsable - Wi-Fi gratis</p>
				</div>
				<div class="input-contenedor">
					<h2>
						Habitacion Familiar</h2>
					<img class="imgHabitaciones" src="Imagenes/habitacionfamiliar.jpg" /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<p>
						- 1 Cama doble - 1 Cama individual - 3 huespedes - No Reembolsable - Wi-Fi gratis</p>
				</div>
				<div class="input-contenedor">
					<h2>
						Habitacion Familiar - 5 huespedes</h2>
					<img class="imgHabitaciones" src="Imagenes/habitacionfamiliar5personas.png" /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<p>
						- 2 camas dobles - 1 Cama individual - No Reembolsable - Wi-Fi gratis</p>
				</div>
			</div>
		</form>
			<div class="form-group">
				<div class="form-group">
					<a th:href="@{/reservacion/registrar}">Realizar Reservacion...</a>
				</div>
			</div>	
		</div>
	</div>	
	</body>
</html>